
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table class="table table-bordered">
    <tr>
        <td><h4>Degree</h4></td>
        <td><h4>Passing Year</h4></td>
        <td><h4>Results</h4></td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>2017</td>
        <td>A</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>2015</td>
        <td>A+</td>
    </tr>
    <tr>
        <td>JSC</td>
        <td>2013</td>
        <td>A</td>
    </tr>
</table>