
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<li>Continuing Undergraduation</li>
<li>01780324748 </li>
<li>11th semester </li>
<li>Bogra </li>
<li>Mohammadpur, Basila, Dhaka-1207, Bangladesh </li>